body {
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: #f2f2f2;
  color: #333333;
}

@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/pts55f-webfont.woff2') format('woff2'), url('../fonts/pts55f-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/pts75f-webfont.woff2') format('woff2'), url('../fonts/pts75f-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  counter-reset: item;
}

.count p:first-of-type:before {
  content: "– № " counter(item) "–";
  counter-increment: item;
  display: block;
}

.sprite {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-food {
  width: 74px;
  height: 70px;
  background-position: -10px -10px;
}

.sprite-house {
  width: 75px;
  height: 72px;
  background-position: -10px -100px;
}

.sprite-souvenirs {
  width: 64px;
  height: 76px;
  background-position: -10px -192px;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #000000;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #000000;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #000000;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 15px -5px #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  position: relative;
  background: #ffffff;
  padding: 20px 6%;
}

.header-nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header-nav li {
  width: 20%;
  height: 20px;
  text-align: left;
  float: left;
}

.header-nav .rightmenu {
  text-align: right;
  float: right;
}

.header-nav a {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

.header-nav a:hover {
  color: #81b3d2;
}

.active a,
.active a:hover,
.header-nav a:active {
  color: #9b8d84;
}

.header-nav img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.large-promo {
  background-color: #9bb4d0;
  background-image: url("../img/white-triangles.png"), url("../img/background-photo.jpg");
  background-position: 50% 100%, 50% 0%;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 60px, cover;
  height: 510px;
  text-align: center;
  margin-bottom: 60px;
}

.large-promo img {
  margin-top: 70px;
}

.lead {
  width: 520px;
  margin: 0 auto 53px;
  text-align: center;
}

.description {
  margin-top: 25px;
}

.column {
  padding: 0px;
  background-color: #81b3d2;
  display: inline-block;
  vertical-align: middle;
}

.column-reason {
  width: 33%;
}

.column-photo {
  width: 66%;
  height: 255px;
  overflow: hidden;
}

.rightfloat {
  float: right;
}

.leftfloat {
  float: left;
}

.column-reason h3 {
  margin: 50px auto 25px;
  width: 155px;
  text-align: center;
}

.column-reason p {
  margin: 30px auto 0px;
  width: 200px;
  text-align: center;
}

.reasons,
.last-reasons {
  padding: 0px;
  list-style: none;
  margin: 0px;
}

.reasons li,
.last-reasons li {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  float: left;
  text-align: center;
}

.reason h3 {
  margin: 145px auto 0px;
}

.reason p {
  margin: 30px auto 85px;
}

.last-reasons {
  height: 255px;
}

.interested h2 {
  margin: 55px auto 35px;
  width: 315px;
  text-align: center;
}

.interested p {
  margin: 0 auto 45px;
  width: 450px;
  text-align: center;
}

.map {
  width: 100%;
  height: 472px;
  overflow: hidden;
}

.search-button {
  width: 508px;
  margin: 0 auto;
  padding: 30px;
  display: block;
}

.search {
  position: relative;
}

.search-form {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  width: 458px;
  background: #ffffff;
  padding: 40px 55px;
  font-size: 0px;
}

.search-form p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.search-form label {
  width: 100px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  font-size: 21px;
}

.date {
  width: 328px;
  height: 20px;
  padding: 10px;
  border: 0px;
}

.quantity,
tune {
  width: 40px;
  height;
  40px;
}

.search-form label,
.search-form span {
  vertical-align: middle;
}

.submit {
  width: 458px;
  margin: 0 auto;
  height: 58px;
}

.main-footer,
.search-footer {
  padding: 30px 6%;
}

.main-footer p,
.search-footer p {
  width: 20%;
  float: left;
  margin-right: 20%;
  margin-left: 4%;
}

.footer-social {
  width: 15%;
  float: left;
  margin-right: 4%;
  margin-top: 14px;
  margin-bottom: 14px;
}

.footer-copyright {
  width: 25%;
  float: right;
  margin-top: 14px;
  margin-bottom: 14px;
}

.filter {
  background: #698dae url("../img/filter-background.jpg") no-repeat;
  background-size: cover;
  height: 218px;
}

.infrastructure {
  width: 20%;
  padding-left: 6%;
  float: left;
}

.accomodation-type {
  width: 24%;
  margin-right: 16%;
  float: left;
}

.daily-price {
  width: 28%;
  padding-right: 6%;
  float: right;
}

.options ul {
  padding: 0px;
  list-style: none;
}

.options li {
  margin: 25px 0px;
}

.daily-price button {
  width: 140px;
  margin: 0 auto;
  display: block;
}

.found {
  width: 160px;
  float: left;
  margin: 0px;
}

.results-header {
  padding: 28px 6%;
  border-bottom: #e5e5e5 1px solid;
}

.sort-results {
  float: left;
  margin: 0px;
}

.sort-header {
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

.sort {
  padding: 0px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.sort li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.sort-arrow {
  vertical-align: middle;
  margin: 0px;
}

.hotel {
  border-bottom: #e5e5e5 1px solid;
  padding: 0 6%;
  padding: 0 6%;
}

.hotel-photo {
  padding: 30px 0px;
  margin: 0px;
  float: left;
  width: 135px;
  font-size: 0px;
  line-height: 0px;
}

.hotel-description {
  width: 40%;
  padding: 20px;
  float: left;
}

.hotel-info h2 {
  margin: 0px;
  padding: 5px;
}

.hotel-book {
  padding: 10px;
}

.hotel-info span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

.hotel-additionalinfo {
  width: 108px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.hotel-bookbutton {
  width: 142px;
  display: inline-block;
  vertical-align: middle;
}

.rating {
  width: 15%;
  float: right;
}

.rating p:first-child {
  margin-bottom: 40px;
  margin-top: 29px;
}

.rating p:last-child {
  margin-bottom: 29px;
  margin-top: 20px;
}
