body {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Bold";
  font-weight: normal;
  background: #f2f2f2 url("../sedona-hotels-1200.jpg") no-repeat 50% 3px;
  margin: 0px;
  padding: 0px;
}

* {
  color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  font-size: 0px;
  position: relative;
  background: #ffffff;
}

.header-nav {
  margin: 0 6%;
  padding: 0px;
}

.header-nav ul {
  padding: 0px;
  list-style: none;
}

.header-nav li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  float: left;
}

.header-nav li:nth-child(3),
.header-nav li:nth-child(4) {
  text-align: right;
  float: right;
}

.header-nav a {
  font-size: 14px;
}

.header-nav img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.large-promo {
  background-color: #9bb4d0;
  background-image: url("../img/white-triangles.png"), url("../img/background-photo.jpg");
  background-position: 50% 100%, 50% 0%;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 60px, cover;
  height: 510px;
  text-align: center;
  margin-bottom: 60px;
}

.large-promo img {
  margin-top: 70px;
}

.lead {
  width: 520px;
  margin: 0 auto 53px;
  text-align: center;
}

.description {
  margin-top: 25px;
}

.column {
  padding: 0px;
}

.column-reason {
  background-color: #81b3d2;
  width: 34%;
  min-height: 255px;
}

.column-photo {
  width: 66%;
  font-size: 0px;
  height: 255px;
  overflow: hidden;
}

.rightfloat {
  float: right;
}

.leftfloat {
  float: left;
}

.column-reason h3 {
  margin: 50px auto 25px;
  width: 155px;
  text-align: center;
}

.column-reason p {
  margin: 30px auto 0px;
  width: 200px;
  text-align: center;
}

.reasons,
.last-reasons {
  padding: 0px;
  list-style: none;
  margin: 0px;
}

.reasons {
  height: 330px;
}

.reasons li,
.last-reasons li {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  float: left;
  text-align: center;
}

.reason h3 {
  margin: 145px auto 0px;
}

.reason p {
  margin: 30px auto;
}

.last-reasons {
  height: 255px;
}

.interested h2 {
  margin: 55px auto 35px;
  width: 315px;
  text-align: center;
}

.interested p {
  margin: 0 auto 45px;
  width: 450px;
  text-align: center;
}

.map {
  width: 100%;
  height: 472px;
  overflow: hidden;
}

.search-button {
  width: 508 px;
  margin: 0 auto;
  padding: 30px;
  display: block;
}

.search {
  position: relative;
}

.search-form {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  width: 458 px;
  background: #ffffff;
  padding: 40px 55px;
  font-size: 0px;
}

.search-form p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.search-form label {
  width: 100px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  font-size: 21px;
}

.date {
  width: 328px;
  height: 20px;
  padding: 10px;
  border: 0px;
}

.quantity,
tune {
  width: 40px;
  height;
  40px;
}

.search-form label,
.search-form span {
  vertical-align: middle;
}

.submit {
  width: 458px;
  margin: 0 auto;
  height: 58px;
}

.main-footer {
  /*стереть потом*/
  min-height: 50px;
  padding: 37px 0px;
}

.main-footer p,
.search-footer p {
  width: 20%;
  float: left;
  margin-right: 10%;
  margin-left: 10%
}

.footer-social {
  width: 20%;
  float: left;
  margin-right: 10%;
  margin-top: 14px;
  margin-bottom: 14px;
}

.footer-copyright {
  width: 30%;
  float: right;
  margin-top: 14px;
  margin-bottom: 14px;
}

.filter {
  background: #698dae url("../img/filter-background.jpg") no-repeat;
  background-size: cover;
  height: 218px;
}

.infrastructure {
  width: 20%;
  margin-left: 6%;
  float: left;
}

.accomodation-type {
  width: 24%;
  margin-right: 16%;
  float: left;
}

.daily-price {
  width: 28%;
  margin-right: 6%;
  float: right;
}

.options ul {
  padding: 0px;
  list-style: none;
}

.options li {
  margin: 25px 0px;
}

.daily-price button {
  width: 140px;
  margin: 0 auto;
  display: block;
}

.results {
  margin: 0 6%;
}

.found {
  width: 160px;
  float: left;
  margin: 0px;
}

.results-header {
  padding: 28px 0px;
  border-bottom: #fefefe 1px solid;
}

.sort-results {
  float: left;
  margin: 0px;
}

.sort-header {
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

.sort {
  padding: 0px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.sort li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.sort-arrow {
  vertical-align: middle;
  margin: 0px;
}

.hotel {
  border-bottom: #fefefe 1px solid;
}

.hotel-photo {
  padding: 30px 0px;
  margin: 0px;
  /*убрать и заменить на что-то пристойное*/
  height: 90px;
}

.hotel-description {
  float: left;
  width: 40%;
  padding: 20px;
}

.hotel-info h2 {
  margin: 0px;
  padding: 5px;
}

.hotel-book {
  padding: 10px;
}

.hotel-info span {
  padding: 20px;
}

.hotel-additionalinfo {
  width: 108px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.hotel-bookbutton {
  width: 142px;
  display: inline-block;
  vertical-align: middle;
}

.rating {
  width: 15%;
  float: right;
}

.rating p {
  margin: 30px;
}


}
