@font-face {
  font-family: 'PT Sans Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/pts55f-webfont.woff2') format('woff2'), url('../fonts/pts55f-webfont.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/pts75f-webfont.woff2') format('woff2'), url('../fonts/pts75f-webfont.woff') format('woff');
}

@font-face {
  font-family: 'symbols-sedona';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/symbols-sedona.woff') format('woff'), url('../fonts/symbols-sedona.woff2') format('woff2');
}

body {
  font-family: 'PT Sans Regular', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;
  background: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  counter-reset: item;
}

.count::before {
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  content: '— № ' counter(item) ' —';
  counter-increment: item;
}

h1 {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}

h2 {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
  color: #000;
}

h3 {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
}

.social-btn {
  font-size: 19px;
  line-height: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 13px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'symbols-sedona';
  /*margin-right: 0.2em;
margin-left: 0.2em;*/
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  display: inline-block;
  width: 1em;
  text-align: center;
  vertical-align: middle;
  text-decoration: inherit;
  text-transform: none;
  speak: none;
}

.icon-facebook::before {
  content: '\66';
}


/* "f" */

.icon-twitter::before {
  content: '\74';
}


/* "t" */

.icon-up-dir::before {
  content: '\25b2';
}


/* "▲" */

.icon-down-dir::before {
  content: '\25bc';
}


/* "▼" */

.icon-calendar::before {
  content: '\e800';
}


/* "" */

.icon-plus::before {
  content: '\e801';
}


/* "" */

.icon-minus::before {
  content: '\e802';
}


/* "" */

.icon-youtube::before {
  content: '\f39e';
}


/* "" */

.sort-arrow a {
  font-size: 23px;
  text-decoration: none;
  color: #000;
}

.container {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 15px -5px #000;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.header {
  position: relative;
  padding: 15px 0;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav li {
  float: left;
  width: 20%;
  text-align: left;
}

.first-link {
  margin-left: 6%;
}

.last-link {
  margin-right: 6%;
}

.header-nav .rightmenu {
  float: right;
  text-align: right;
}

.header-nav a {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
}

.header-nav a:hover {
  color: #81b3d2;
}

li.active a,
li.active a:hover {
  color: #9b8d84;
}

.header-nav a:active {
  color: #b2b2b2;
}

.header-nav img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.large-promo {
  height: 510px;
  margin-bottom: 60px;
  text-align: center;
  background-color: #9bb4d0;
  background-image: url('../img/white-triangles.png'), url('../img/background-photo.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 21%;
  background-size: 100% 60px, cover;
}

.large-promo img {
  margin-top: 76px;
}

.lead {
  margin: 0 auto 53px;
  text-align: center;
}

.description {
  line-height: 26px;
  margin-top: 25px;
}

.column {
  padding: 0;
  display: table;
  width: 100%;
  min-height: 255px;
  background-color: #81b3d2;
}

.column-reason {
  display: table-cell;
  box-sizing: border-box;
  width: 33.33%;
  padding: 15px;
  text-align: center;
  color: #fff;
}

.column-reason h3 {
  color: #fff;
}

.column-photo {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  width: 66.67%;
}

.column-photo img {
  position: absolute;
  /*top: 50%;*/
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}

.rightfloat {
  float: right;
}

.leftfloat {
  float: left;
}

.sprite::before {
  font-size: 0;
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  content: '';
  background-color: #fff;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.sprite-food::before {
  background-position: -10px -10px;
}

.sprite-house::before {
  background-position: -10px -110px;
}

.sprite-souvenirs::before {
  background-position: -10px -210px;
}

.reasons {
  margin: 0;
  padding: 40px 0 70px;
  list-style: none;
}

.last-reasons {
  margin: 0;
  padding: 30px 0 40px;
  list-style: none;
  background-color: #eee;
}

.reasons li,
.last-reasons li {
  float: left;
  width: 33.33%;
  text-align: center;
}

.interested {
  line-height: 24px;
  padding: 35px 0 40px;
  text-align: center;
}

.interested h2 {
  font-size: 30px;
  line-height: 24px;
}

.map {
  overflow: hidden;
  width: 100%;
  background-color: #f2f1ef;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.search-button {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 26px;
  display: block;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #766357;
}

.search-container {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

@keyframes move-form {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}

.search-form {
  font-size: 0;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  padding: 35px 55px;
  background: #fff;
}

.search-form-display {
  display: block;
  animation-name: move-form;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.search-form p {
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
}

.dates label {
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  width: 25%;
  vertical-align: middle;
}

.numbers label {
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.adults,
.children {
  width: 50%;
  margin: 15px 0 55px;
}

.children label {
  box-sizing: border-box;
  padding-left: 50px;
}

.enter-date {
  position: relative;
  display: inline-block;
  width: 75%;
  vertical-align: middle;
}

.date-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.calendar {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  color: #a9a9a9;
  border: none;
  background-color: transparent;
}

.calendar:hover {
  color: #000;
}

.calendar:focus {
  color: #81b3d2;
  outline: none;
}

.date {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 9px;
  padding-right: 38px;
  text-transform: uppercase;
  border: 0;
  border: none;
  background-color: #f2f2f2;
}

.quantity {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 14px;
}

.date:hover,
.quantity:hover {
  border: none;
  background: #ebebeb;
}

.date:focus,
.quantity:focus {
  outline: 1px solid #e5e5e5;
  background: #fff;
}

.tune:hover {
  color: #000;
}

.tune:active {
  color: #81b3d2;
  outline: none;
}

.tune:focus {
  outline: none;
}

.numbers span {
  background-color: #f2f2f2;
}

.numbers p.rightfloat {
  text-align: center;
}

.quantity,
.tune {
  font-size: 14px;
  line-height: 24px;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
}

.quantity {
  text-align: center;
  color: #000;
}

.tune {
  color: #a9a9a9;
}

.search-form label {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  display: inline-block;
  vertical-align: middle;
}

.submit-search {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 26px;
  width: 100%;
  height: 58px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #81b3d2;
}

.submit-search:hover {
  background-color: #669ec0;
}

.submit-search:active {
  color: #7eb0cd;
  outline: none;
  background-color: #5496bd;
}

.submit-search:focus {
  outline: none;
}

.map img {
  width: 100%;
}

.main-footer,
.search-footer {
  padding: 30px 0;
  text-align: center;
}

.main-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 15px -5px #000;
}

.main-footer p,
.search-footer p {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 26px;
  float: left;
  box-sizing: border-box;
  width: 30%;
  margin-top: 13px;
  padding-left: 45px;
}

.footer-social {
  float: left;
  width: 40%;
}

.footer-copyright {
  font-size: 14px;
  float: right;
  box-sizing: border-box;
  width: 30%;
  padding-top: 7px;
  padding-right: 35px;
}

.footer-copyright span {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 39px;
  background-image: url(../img/academy-sprite.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

.footer-copyright a:active::before {
  background-position: -5px -54px;
}

.footer-copyright a:hover::before {
  background-position: -5px -103px;
}

.footer-copyright img {
  display: inline-block;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.filter {
  line-height: 21px;
  min-height: 208px;
  padding: 10px 6% 0;
  color: #fff;
  background: #698dae url('../img/filter-background.jpg') no-repeat 50% 20%;
  background-size: cover;
}

.filter h3 {
  font-size: 16px;
  color: #fff;
}

.infrastructure {
  float: left;
  box-sizing: border-box;
  max-width: 33%;
  padding-right: 120px;
}

.accomodation-type {
  float: left;
  box-sizing: border-box;
  max-width: 33%;
  padding-right: 100px;
}

.filter-range {
  float: right;
  box-sizing: border-box;
  width: 328px;
  max-width: 33%;
  padding-top: 20px;
  color: #fff;
}

.filter-range-title {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 9px;
}

.price-controls {
  font-size: 0;
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  content: '';
  transform: translate(-50%, -50%);
  background: #fff;
}

.price-controls label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  width: 50%;
  padding: 4px 0;
  cursor: pointer;
  vertical-align: top;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #797577;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.submit-filter {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  background: transparent;
}

.submit-filter:hover {
  color: #000;
  background: #fff;
}

.price-controls .price-from,
.price-controls .price-to {
  box-sizing: border-box;
  width: 50%;
  padding-left: 20%;
}

.price-controls .price-to {
  padding-left: 18%;
}

.price-controls input {
  font: inherit;
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

.options ul {
  padding: 0;
  list-style: none;
}

.options li {
  margin: 25px 0;
}

.found {
  float: left;
  width: 160px;
  margin: 0;
}

.results-header {
  padding: 29px 6%;
  border-bottom: #e5e5e5 1px solid;
}

.sort-results {
  font-size: 12px;
  line-height: 18px;
  float: left;
  margin: 0;
  padding-top: 5px;
}

.sort-header {
  display: inline-block;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
  vertical-align: middle;
}

.sort {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
}

.sort li {
  display: inline-block;
  padding-right: 30px;
  vertical-align: middle;
}

.sort a {
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort .active a {
  color: #81b3d2;
  border: none;
}

.sort a:active {
  color: #b2b2b2;
}

.sort a:hover {
  color: #81b3d2;
}

.sort-arrow {
  font-size: 23px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.sort-arrow a {
  color: #ccc;
}

.sort-arrow a:hover {
  color: #000;
}

.sort-arrow a.active {
  color: #81b3d2;
}

.hotel {
  padding: 0 6%;
  border-bottom: #e5e5e5 1px solid;
}

.hotel-photo {
  font-size: 0;
  line-height: 0;
  float: left;
  width: 135px;
  padding: 30px 0;
}

.hotel-description {
  float: left;
  padding: 21px;
  max-width: 60%;
}

.hotel-info h2 {
  margin: 0;
  padding: 5px 10px;
}

.hotel-info a {
  text-decoration: none;
  color: #000;
}

.hotel-info a:hover {
  color: #c4dcea;
}

.hotel-info a:active {
  color: #b2b2b2;
}

.hotel-book {
  font-size: 0;
  padding: 10px;
}

.hotel-info span {
  display: inline-block;
  padding-right: 25px;
  padding-left: 10px;
  vertical-align: middle;
}

.hotel-additionalinfo {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 14px;
  display: inline-block;
  width: 108px;
  margin-top: 5px;
  margin-right: 6px;
  padding: 3px 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border: 0;
  background: #81b3d2;
}

.hotel-additionalinfo:hover {
  background: #669ec0;
}

.hotel-additionalinfo:active {
  color: #88b6d1;
  background: #5496bd;
}

.hotel-bookbutton {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-size: 14px;
  display: inline-block;
  width: 142px;
  margin-top: 5px;
  padding: 3px 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  background: #766357;
}

.hotel-bookbutton:hover {
  background: #604e43;
}

.hotel-bookbutton:active {
  color: #857871;
  background: #503e33;
}

.rating {
  float: right;
  padding: 28px 0;
}

.rating p:first-child {
  font-family: 'symbols-sedona';
  font-size: 19px;
  margin: 0;
  text-align: right;
  letter-spacing: 1px;
  color: #81b3d2;
}

.rating p:last-child {
  margin-top: 44px;
  margin-bottom: 0;
  padding: 3px 12px;
  text-align: center;
  background-color: #f2f2f2;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']+ label {
  line-height: 20px;
  position: relative;
  display: block;
  margin: 10px 0;
  padding-left: 45px;
  cursor: pointer;
}

input[type='checkbox']+ label::before {
  font-family: 'symbols-sedona';
  font-size: 26px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\2610';
}

input[type='checkbox']:checked+ label::before {
  font-family: 'symbols-sedona';
  content: '\2611';
}

input[type='checkbox']:disabled+ label::before {
  color: #4b5252;
}
